{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-wrap-func": 0,
    "react/prop-types": 0,
    "no-param-reassign": 0,
    "react/jsx-no-bind": 0
  },
  "globals": {
    "FB": true
  }
}
