.body-wrapper {

  [class^='slot-'] {
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
    }
  }
  .slot-glows {
    &:before {
      background-image: url(../images/hero-body/glows.png);
      width: 28px;
      height: 24px;
    }
  }
  .slot-helmet {
    &:before {
      background-image: url(../images/hero-body/helmet.png);
      width: 17px;
      height: 24px;
    }
  }
  .slot-amulet {
    &:before {
      background-image: url(../images/hero-body/amulet.png);
      width: 20px;
      height: 26px;
    }
  }
  .slot-treetop {
    &:before {
      background-image: url(../images/hero-body/treetop.png);
      width: 22px;
      height: 21px;
    }
  }
  .slot-shield {
    &:before {
      background-image: url(../images/hero-body/shield.png);
      width: 19px;
      height: 26px;
    }
  }
  .slot-ring {
    &:before {
      background-image: url(../images/hero-body/ring.png);
      width: 13px;
      height: 13px;
    }
  }
  .slot-belt {
    &:before {
      background-image: url(../images/hero-body/belt.png);
      width: 22px;
      height: 14px;
    }
  }
  .slot-boots {
    &:before {
      background-image: url(../images/hero-body/boots.png);
      width: 23px;
      height: 26px;
    }
  }
  .slot-elixir {
    &:before {
      background-image: url(../images/hero-body/elixir.png);
      width: 9px;
      height: 15px;
    }
  }
  .slot-pants {
    &:before {
      background-image: url(../images/hero-body/pants.png);
      width: 17px;
      height: 41px;
    }
  }
  .slot-armor {
    &:before {
      background-image: url(../images/hero-body/armor.png);
      width: 27px;
      height: 32px;
    }
  }
  .slot-arms {
    &:before {
      background-image: url(../images/hero-body/arms.png);
      width: 20px;
      height: 27px;
    }
  }

  .image-slot {
    text-align: center;
  }
}
