@import "bootstrap";
@import "mixins";

body {
  background-color: @grey-100;
}

.container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.logo {
  background-image: url(../images/logo.png);
  width: 256px;
  height: 256px;
  margin: 0 auto;
}

dl {
  &.dl-horizontal {
    dt, dd {
      float: left;
    }
  }
}

@import "header";
@import "menu";
@import "info";
@import "hero";
@import "footer";

@import "pages/hero/show";
