@import "bootstrap";

body {
  background-color: #eee;
}

.container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  background-image: url(../images/logo.png);
  width: 172px;
  height: 216px;
  margin: 0 auto 50px;
}

.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
