#hero-inventory {
  .body-wrapper {
    width: 310px;
    position: absolute;
  }

  .inventory-wrapper {
    position: absolute;
    left: 330px;
    width: 640px;
  }
// TODO: think about toolbar and dropdown do pull request
}
